<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @add.url %>
</p>

<p>
  <strong>To:</strong>
  <%= @add.to %>
</p>

<p>
  <strong>Posts:</strong>
  <%= @add.posts %>
</p>

<p>
  <strong>Posts,url:</strong>
  <%= @add.posts,url %>
</p>

<p>
  <strong>:</strong>
  <%= @add. %>
</p>

<%= link_to 'Edit', edit_add_path(@add) %> |
<%= link_to 'Back', adds_path %>
